body {
  margin: auto;
  width: 75%;
  background-color: black;
}

.container{
  margin: 40px auto;
  width: 100%;
  background-color: black;
  color: #fefaff;
}

p {
  font-size: 250%;
  color: #fefaff;
  line-height: 90%;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: underline;
  color: #fefaff;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  font-weight: bold;
}

ul {
  font-size: 250%;
  line-height: 125%;
  font-family: 'Courier New', Courier, monospace;
}

img {
  display: block;
  margin: auto;
  max-width: 100%; 
  width: auto;
  padding: 20px 0px 20px 0px;
}

