body {
  margin: 40px auto;
  width: 90%;
  background-color: black;
}
.container{
  margin: 40px auto;
  width: 90%;
  background-color: black;
}
.container_front{
  margin: 40px auto;
  width: 90%;
  background-color: #fbffdb;
}

a {
  text-decoration: underline;
  color: #fefaff;
}

a:hover {
  font-weight: bold;
}

p {
  font-size: 150%;
  line-height: 125%;
  color:#fefaff;
  width: 75%;
  font-family:'Courier New', Courier, monospace;
}

p.front{
  font-size: 150%;
  line-height: 125%;
  color:#fefaff;
  width: 75%;
  font-family:'Courier New', Courier, monospace;
}
p.photo {

  margin: auto;
  width: 70%;
  padding: 70px 0px;
}

p.rock {
  font-size: 100%;
  line-height: 100%;
  color: 	#696969;
  margin: auto;
  width: 40%;
  padding: 20px 0px 50px 0px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: top;
  }

  .flex-container .fifty {
    background-color: black;
    width: 50%;
    word-wrap: break-word;
  }

  .collapsible {
    cursor: pointer;
    padding: 0px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 150%;
    line-height: 125%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .active, .collapsible:hover {
    font-weight: bold;
  }

  .content {
    padding: 0px;
    width: 90%;
    display: none;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 125%;
    line-height: 150%;
    font-family: 'Courier New', Courier, monospace;

  }
