<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="https://niklasbazzan.github.io/css/main.css">
    	<a href="/"><img style="margin: auto; width: 40%; padding: 20px 0px 50px 0px;"
        src="https://niklasbazzan.github.io/photos/rock.jpg"></a>


  </head>


  <body>
<div class="container">

  {{ content }}

</div>

  <footer>
    <p>
      © <a href="https://niklasbazzan.github.io/" target="_blank">nik</a>
    </p>
  </footer>
  </body>

</html>
