<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="https://niklasbazzan.github.io/css/main.css">
    	<a href="/blog/"><img id="top" style="display: block; margin: auto; width: 40%; padding: 20px 0px 50px 0px;"
        src="https://niklasbazzan.github.io/photos/rock.jpg"></a>
    <link rel="icon" type="image/x-icon" href="https://niklasbazzan.github.io/photos/favicon/favicon.ico"/>

  </head>


  <body>
<div class="container">

  {{ content }}

</div>

  <footer>
    <p>
      by <a href="https://niklasbazzan.github.io/index.html">nik</a><br>
      <a  href="#top">back to top</a>
    </p>
  </footer>
  </body>

</html>
