<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="https://niklasbazzan.github.io/css/main.css">
    	<a href="/"><img id="top" style="display: block; margin: auto; width: 20%; padding: 20px 0px 50px 0px;"
        src="https://niklasbazzan.github.io/photos/rock.jpg"></a>
    <link rel="icon" type="image/x-icon" href="https://niklasbazzan.github.io/photos/favicon/favicon.ico"/>

  </head>


  <body>
<div class="container_front">

  {{ content }}

</div>
  </body>

</html>
